@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "inter", sans-serif;
  }
}

@layer utilities {
  .nav-open {
    animation: slideIn 0.8s;
    animation-fill-mode: forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translate(-100%, 0px);

      background-color: #ccc;
    }

    100% {
    }
  }

  .nav-close {
    animation: slideOut 0.6s;
    animation-fill-mode: forwards;
  }
  @keyframes slideOut {
    0% {
      background-color: #ccc;
    }

    100% {
      transform: translate(-100%, 0px);
      display: hidden;
    }
  }
  .active {
    @apply font-extrabold text-violet-950 !important;
  }

  nav > ul > li > a::after {
    content: "";
    display: block;
    width: 0%;
    height: 1.8px;
    @apply bg-violet-800;
  }

  nav > ul > li > a:not(.active):hover::after {
    transition: all 0.5s;
    width: 100%;
  }

  .preview-card:hover {
    transform: scale(1.05);
    transition: all 0.5s;
  }

  .gray-bg {
    @apply bg-stone-200 bg-opacity-90;
  }

  .normal-btn {
    @apply bg-violet-800 text-stone-50 hover:bg-violet-900 active:bg-violet-700;
  }
}
