@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "inter", sans-serif;
  }
}

@layer utilities {
  .small-nav {
    animation: slide 1s;
  }

  @keyframes slide {
    0% {
      transform: translate(-300px, 0px);

      background-color: #ccc;
    }

    100% {
    }
  }
}
